.game-container{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 578px;
    height: 578px;
    border: 0px;
    padding: 21px;
    background-image: url("assets/pop-a-fruit/frame.png");
    background-size:contain;
    text-align: center;
    #game-counter{
        position: absolute;
        top: 7%;
        z-index: 2;
        left: calc(50% - 35px);
        border: 1px solid #ffffff;
        padding: 0px 13px;
        font-family: "CabritoNorExB";
        color: #ffffff;
        font-size: 34px;
        &:before{
            content: ":";
        }
        &.hurry{
            border-color: red;
            color: red;
        }
    }
    .sections{
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: center center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        .hole-container{
            position: absolute;
            width: 25%;
            height: 245px;
            bottom: -140px;
            // border: 1px solid red;
            @media screen and (max-width: $first-breakpoint){
                bottom: -160px;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -180px;
            }
        }
        .hole-container.apple{
            bottom: -120px;
            @media screen and (max-width: $first-breakpoint){
                bottom: -145px !important;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -174px !important;
            }
        }
        .hole-container.watermelon{
            bottom: -128px;
            @media screen and (max-width: $first-breakpoint){
                bottom: -158px !important;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -180px !important;
            }
        }
    }

    //holes positions
    .two-holes-first{
        left: 20%;
    }
    .two-holes-second{
        left: 55%;
    }
    .three-holes-first{
        left: 5%;
    }
    .three-holes-second{
        left: 38%;
    }
    .three-holes-third{
        left: 70%;
    }
    .section-1{
        height: 156px;
        background-image: url("assets/pop-a-fruit/main_sections_backgrounds/1.png");        
        .hole-container{
            @media screen and (max-width: $first-breakpoint){
                bottom: -161px;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -190px;
            }            
        }
        .hole-container.apple{
            bottom: -120px;
            @media screen and (max-width: $first-breakpoint){
                bottom: -150px !important;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -181px !important;
            }
        }
        .hole-container.watermelon{
            @media screen and (max-width: $second-breakpoint){
                bottom: -186px !important;
            }
        }
    }
    .section-2{
        height: 175px;
        background-image: url("assets/pop-a-fruit/main_sections_backgrounds/2.png");
        margin-top: -21px;
    }
    .section-3{
        height: 175px;
        background-image: url("assets/pop-a-fruit/main_sections_backgrounds/3.png");
        margin-top: -23px;
        .hole-container.grape{
            @media screen and (max-width: $first-breakpoint){
                bottom: -161px!important;
            }
            @media screen and (max-width: $second-breakpoint){
                bottom: -187px!important;
            }            
        }
        .hole-container.apple{
            @media screen and (max-width: $second-breakpoint){
                bottom: -178px!important;
            }            
        }
    }
    .section-4{
        height: 100px;
        background-image: url("assets/pop-a-fruit/main_sections_backgrounds/4.png");
        margin-top: -23px;
    }
    .game-main-bottle{
      position: absolute;
      bottom: 19px;
      right: 28px;
      
    @media screen and (max-width: 600px){
        height: 120px;
    }
    @media screen and (max-width: 470px) {
        height: 82px;
        bottom: 21px;
    }
    }
}
.grape{
    .game-container{
        .sections{
            .hole-container{
                // bottom: -80%;
            }
        }
        .section-1{
            .hole-container{
                // bottom: -90%;
            }
        }    
    }
}
.responsive.game-container{
    @media screen and (max-width: 600px){
        width: 450px;
        height: 450px;
        
        .section-1{
            height: 118px;
        }
        .section-2{
            height: 142px;
        }
        .section-3{
            height: 138px;
        }
        .section-4{
            height: 83px;
        }
        
    }
    @media screen and (max-width: 470px) {
        width: 315px;
        height: 315px;
        .section-1{
            height:80px;
        }
        .section-2{
            height: 107px;
        }
        .section-3{
            height: 95px;
        }
        .section-4{
            height: 66px;
        }
        #game-counter{
            left: calc(50% - 22px);
            padding: 0px 7px;
            font-size: 18px;
        }
        #game-counter{
            top: 9%;
        }
    }
}