.game-container{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 578px;
    height: 578px;
    border: 0px;
    padding: 21px;
    background-image: url("assets/lunchtime_flavorites/frame.png");
    background-size:contain;
    text-align: center;
}
.puzzle-background{
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-position: center 58px;
    // background-size:cover;
    background-repeat: no-repeat;   
    background-color: skyblue;
    background-image: url("assets/lunchtime_flavorites/lunchbox.png"),url("assets/lunchtime_flavorites/paper.png");
    background-repeat: no-repeat , repeat;
    overflow: hidden;
}
.stack-area{
    position: absolute;
    top: 142px;
    height:200px;
    background-color: #fff;
    border-radius: 22px;
}
#stack-area-1{
    width: 151px;
    left: 100px;
}
#stack-area-2{
    width: 89px;
    left: 257px;
}
#stack-area-3{
    width: 89px;
    left: 354px;
}
.ingredients-slider-container{
    position: absolute;
    bottom: 57px;
    background-color: #fff;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    .ingredients-slider{
        width: 100%;
        height: 105px;    
    }
}
.slick-slide img{
    margin-left: auto;
    margin-right: auto;
    height: 63px
}
.ingredients-slider{
    &:after{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "Drop here to return";
    }
}
.show-overlay:after{
    // display: block;
}
.ingredient-title{
    color: #1a5632;
    font-size: 12px;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "CabritoNorExB";
    width: 100%;
    bottom: -21px;
    line-height: 12px;
}
.slick-list{
    overflow: visible!important;
    background-color: #fff;
    height: 100%;
    .slick-track{
        padding-top: 10px;
    }
}
.step-5 .slick-track{
    padding-top: 23px;
}
.slick-arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    width: 70px;
    font-size: 80px;
    color: #1a5632;
    font-family: Arial;
    line-height: 94px;
}
.slick-prev{
    left: -70px;
}
.slick-next{
    right: -70px;
}
#stack-area-2{
    .stacked:first-child:not(.ui-draggable-dragging){
        top: 20%!important;
        transform: translateX(-50%)!important;
    }
    .stacked:nth-child(2):not(.ui-draggable-dragging){
        top: 70%!important;
    }
}
.step-5{
    .stacked:first-child:not(.ui-draggable-dragging){
        top: 22% !important;
        left: 8%!important;
        width: 60px!important;  
        img{
            width: auto!important;
        }
    }
    .stacked:nth-child(2):not(.ui-draggable-dragging){
        bottom: -5% !important;
        right: 3% !important;
        transform: none !important;
        left: initial!important;
        width: auto!important;
        top: initial!important;
        width: 60px!important;  
        img{
            width: auto!important;
        }
    }
}
.stacked:not(.ui-draggable-dragging){
    position: absolute!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    width: 100%!important;
    img{
        width: 81%!important;
    }
    .ingredient-title{
        display: none;
    }
}
.stacked.bread img{
    width:90%!important;
}
.ui-draggable-dragging{
    z-index: 10;
}
.game-container{
    @media screen and (max-width: 600px){
        width: 450px;
        height: 450px;
    }
    @media screen and (max-width: 470px) {
        width: 315px;
        height: 315px;
    }
}
.next-button,.done-button{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 74px;
    background-color: #1a5632;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}


.case-cover, .case-cover-img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.case-cover{
    background-color: #0492a6;
    width: 66%;
    height: 38%;
    border-radius: 20px;
}
.type-your-name{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: #fff;
        opacity: 0.6;
    }
    width: 60%;
}
.step-title{
    font-family: "CabritoNorExB";
    color: #1a5632;
    font-size: 26px;
    padding-top: 13px;
}
.ui-draggable-dragging .ingredient-title{
    display: none;
}

.case-cover-container{
    position: absolute;
    top: -248px;
    left: 85px;
    width: 370px;
    height: 440px;
    display: none;
}
#case-cover{
    height: 100%;
    .front-lf{
        // background-color: red;
        background-image: url('assets/lunchtime_flavorites/case-cover.png');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
        width: 100%;
        height: 50%;
        
    }
    .back-lf{
        width: 100%;
        background-image: url('assets/lunchtime_flavorites/case-cover.png');
        // background-color: blue;   
        background-size: contain;
        background-position: top center;
        height: 50%;
        background-repeat: no-repeat;
    }
}