.how-to-play-wrapper{
    // display: none;
    position: absolute;
    top: 18px;
    left: 18px;
    right: 18px;
    bottom: 18px;
    background-image: url('assets/lunchtime_flavorites/game_start/background.png');
    background-size: cover;
    z-index: 99999;
    @media screen and (max-width: 600px){
        top: 17px;
        bottom: 17px;
        left: 17px;
        right: 17px;
    }
    @media screen and (max-width: 470px) {
        top: 12px;
        bottom: 12px;
        left: 12px;
        right: 12px;
    }
    .how-to-play-container{
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 110px;
        width: 80%;
        img{
            // transform: scale(0.9);
        }
        .how-to-play-title  {
            font-family: "CabritoNorExB";
            font-size: 24px;
            color: #1a5632;
            margin-top: 25px;
            margin-bottom: 0px;
        }
        p{
            font-family: "CabritoNorBol";
            font-size: 18px;
            color: #1a5632;
            margin: 0;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        .start-game-button{
            font-family: "CabritoNorExB";
            margin-top:20px;
            @media screen and (min-width: 600px){
                padding: 15px 59px;
            }
            color: #ffffff;
            background-color: #1a5632;
            border: 0;
            
            @media screen and (max-width: 470px) {
                margin-top: 10px;
            }
        }
    }


    @media screen and (max-width: 600px){
        img{
            height: 110px;
            margin-top: 20px;
        }
        .how-to-play-container h2{
            margin-top: 15px!important;
        }
    }
    @media screen and (max-width: 470px) {
        img{
            height: 76px;
            margin-top: 37px;
        }
        .how-to-play-container h2{
            font-size: 17px!important;
            margin-top: 3px!important;
        }
        .how-to-play-container p{
            font-size: 12px;
            display: inline-block;
            width: 62%;
        }
        .how-to-play-container .start-game-button{
            padding: 7px 17px;
            font-size:14px;
        }
    }
}
