.puzzle-background.berry{
    background-image:url("assets/hidden_pictures/variations/berry/background.png");
}
.fruit-container.berry{
    position:absolute;
    width:4px;
    height:4px;
    transition: all 1s linear;    
    div{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.berry-1-position{
    top: 35.3%;
    left: 45.7%;
    &.found-home-location{
        top: 93.2%;
        left: 8.8%;
    }
    .berry-1{
        height: 33px;
        width: 29px;
        @media screen and (max-width: 600px){
            height: 33px;
            width: 29px;
        }
        @media screen and (max-width: 470px) {
            height: 20px;
            width: 14px;
            
        }
    }
}
.berry-2-position{
    .berry-2{
        height: 33px;
        width: 29px;
        @media screen and (max-width: 600px){
            height:33px;
            width: 29px;
        }
        @media screen and (max-width: 470px) {
            height: 20px;
            width: 14px;   
        }
    }
    top: 35.4%;
    left: 51.9%;
    &.found-home-location{
        top: 93.2%;
        left: 26%;
    }
}
.berry-3-position{ 
    .berry-3{
        height: 27px;
        width: 26px;
        @media screen and (max-width: 600px){
            height: 27px;
            width: 26px;
        }
        @media screen and (max-width: 470px) {
            height: 16px;
            width: 14px;
        }
    }
    top: 53.6%;
    left: 94.4%;
    &.found-home-location{
        top: 93.2%;
        left: 43.2%
    }
}
.berry-4-position{
    .berry-4{
        height: 19px;
        width: 16px;
        @media screen and (max-width: 600px){
            height: 19px;
            width: 16px;
        }
        @media screen and (max-width: 470px) {            
            height: 11px;
            width: 10px;
        }
    }
    top: 59.7%;
    left: 53.7%;
    &.found-home-location{
        top: 93.2%;
        left: 59.2%;
    }
}
.berry-5-position{ 
    .berry-5{
        height: 22px;
        width: 18px;
        @media screen and (max-width: 600px){
            height: 22px;
            width: 18px;
        }
        @media screen and (max-width: 470px) {            
            height: 11px;
            width:  10px;
        }
    }
    top: 64.7%;
    left: 73.7%;
    &.found-home-location{
        top: 93.2%;
        left: 75.5%;
    }
}
.berry-6-position{ 
    .berry-6{
        height: 27px;
        width: 25px;
        @media screen and (max-width: 600px){
            height: 27px;
            width: 25px;
        }
        @media screen and (max-width: 470px) {            
            height: 16px;
            width: 14px;
        }
    }
    top: 71.7%;
    left: 1.6%;
    &.found-home-location{
        top: 93.2%;
        left: 91%;
    }
}
@for $i from 1 through 6{
    .berry-#{$i}{
        background-image: url('assets/hidden_pictures/variations/berry/fruits/berry-#{$i}.png');
    }    
}

.fruit-container.berry.found div{
    height: 66px;
    width: 59px;
    @media screen and (max-width: 600px){
        height: 45.93px;
        width: 51.38px;
    }
    @media screen and (max-width: 470px) {      
        height: 32.15px;
        width: 35.97px;
    }
    background-image: url('assets/hidden_pictures/variations/berry/fruits/berry-found.png');
    transition: all 0.1s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}