.how-to-play-wrapper{
    // display: none;
    position: absolute;
    top: 18px;
    left: 18px;
    right: 18px;
    bottom: 18px;
    background-image: url('assets/hidden_pictures/game_start/background.png');
    background-size: cover;
    z-index: 99999;
    .how-to-play-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 110px;
        .how-to-play-title{
            padding-bottom: 20px;
        }
        h2{
            font-family: "CabritoNorExB";
            font-size: 24px;
            color: #1a5632;
            margin-top: 0px;
            margin-bottom: 16px;
        }
        p{
            font-family: "CabritoNorExB";
            font-size: 18px;
            color: #1a5632;
            margin: 0;
        }
        .start-game-button{
            font-family: "CabritoNorExB";
            margin-top:20px;
            padding: 9.7px 52.53px;
            color: #ffffff;
            background-color: #1a5632;
            border: 0;
            
            @media screen and (max-width: 470px) {
                margin-top: 10px;
            }
        }
    }


    @media screen and (max-width: 600px){
        .how-to-play-container{
            .how-to-play-title{
                height: 104px;
                margin-top: 74px;
                padding-bottom: 0px;
            }
            .how-to-play-subtitle{
                font-size: 14px;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            p{
                padding-left: 25px;
                padding-right: 25px;
                font-size: 11px;
            }
            .start-game-button{
                padding: 9px 32px;
                font-size: 10px;
                margin-top:15px;
            }
        }
    }
    @media screen and (max-width: 470px) {
        .how-to-play-container{
            .how-to-play-title{
                height: 76px;
                margin-top: 90px;
                // padding-bottom: 5px;            
            }
            .how-to-play-subtitle{
                // font-size: 14px;
                // margin-bottom: 6px;
            }
            p{
                
                padding-left: 15px;
                padding-right: 15px;
                // font-size: 11px;
                // padding: 0 3px;
            }
        }
    }
}
